<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wordle Helper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css"
    integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/grids-responsive-min.css" /> -->
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="app">
    <header>
      <input type="text" placeholder="Start typing to fill in squares">
    </header>
    <div class="grid">
      <div class="tile-outer" v-for="(letter, index) in letters">
        <div @click="toggleState(index)"
             class="tile"
             :data-state="letter.state">
          {{ letter.text }}
        </div>
      </div>
    </div>
    <div v-if="indexCounter > 0" class="results-grid">
      <div class="word" v-for="word in wordList">{{ word }}</div>
    </div>
  </div>
  <script src="./js/modernizr_3.6.0.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="./js/words.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>
